*{
	margin: 0px;
	padding: 0px;
}
header{
	background-color: blue;
	height: 80px;
}
.body{
	border: solid 1px black;
	height: 500px;
	width: 100%;
}
.main{
	border: solid 1px white;
	width: 40%;
	height: 298px;
	text-align: center;
	background-color: green;
	float: left;
	margin-left: 20%;
}
.sidebar{
	border: solid 1px white;
	width: 20%;
	height: 298px;
	background-color: purple;
	float: left;
}
.twin1{
	background-color: orange;
	border: solid 1px white;
	width: 30%;
	height: 198px;
	float: left;
	margin-left: 20%;
}
.twin2{
	background-color: orange;
	border: solid 1px white;
	width: 30%;
	height: 198px;
	float: left;
}
footer{
	background-color: blue;
	height: 80px;
}