*{
	margin: 0px;
	padding: 0px;
}
.calculator{
	width: 700px;
	height: 900px;
	border: solid 2px black;
	margin: 0px auto;
}
#kq{
	width: 658px;
	margin-left: 13px;
	height: 200px;
	float: left;
	border: solid 1px black;
	line-height: 200px;
	font-size: 30px;
	font-weight: bold;
}
.button{
	width: 150px;
	height: 150px;
	float: left;
	border: solid 2px blue;
	border-radius: 5px;
	margin-left: 13px;
	margin-top: 13px;
	text-align: center;	
}
