*{
	margin: 0px;
	padding: 0px;
}
header{
	background-color: yellow;
	height: 80px;
}
.body{
	height: 500px;
}
.nav{
	height: 480px;
	width: 29%;
	background-color: yellow;
	float: left;
	margin-right: 1%;
}
.article{
	height: 480px;
	width: 49%;
	background-color: yellow;
	float: left;
	margin-right: 1%;
}
.ads{
	height: 480px;
	width: 20%;
	background-color: yellow;
	float: left;
}
.body div{
	margin-top: 10px;
}
p{
	padding-top: 20px;
	padding-left: 20px;
}
footer{
	height: 80px;
	background-color: yellow;
}